// src/custom-theme.scss
@use '@angular/material' as mat;

// Paletas M2
$primary:  mat.m2-define-palette(mat.$m2-amber-palette, 600);
$accent:   mat.m2-define-palette(mat.$m2-deep-purple-palette, 500);
$warn:     mat.m2-define-palette(mat.$m2-red-palette);

// Tema M2
$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent:  $accent,
    warn:    $warn,
  ),
  density: 0
));

// Aplica el tema a todos los componentes
@include mat.all-component-themes($theme);

html { color-scheme: light; }
