/* You can add global styles to this file, and also import other style files 
*/
/* en src/styles.css (o quita custom-theme.scss temporalmente) */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
     height: 100%; 
    }
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.toolbar .logo {
  height: 32px;
  margin: 0 12px 0 8px;
}
